{% extends 'base.html.twig' %}

{% block title %}Portfolio DEV Marie Malnoury
{% endblock %}

{% block body %}
	<div class="text-center pt-5 d-flex container-sm row row-cols-sm-1 justify-content-center container-lg row row-cols-lg-2 align-items-center">
		<a class="" href="https://malmarie.github.io/" alt="Page GitHub de Marie MALNOURY" target="_blank">
			<img class="logo-small-xs logo-small-lg logo-to-white" src="./assets/images/icons/Logo_GitHub_BW_cat.png" alt="Logo de GitHub">
			Page GitHub
		</a>
		<a class="text-break text-wrap p-3 col-sm-2 col-lg" href="https://obeer.mariemalnoury.fr/" alt="O’Beer, site de recencement de brasseries françaises" target="_blank">
			<img
			class="logo-xs logo-lg logo-obeer" src="./assets/images/icons/Logo_O-Beer.png" alt="Logo de O’Beer">
			Projet de fin de formation à O'Clock
		</a>
	</div>
{% endblock %}
