{% extends 'base.html.twig' %}

{% block title %}Portfolio DEV Marie Malnoury
{% endblock %}

{% block body %}
	<div class="position-absolute top-50 start-50 translate-middle">
		<p class="fs-3">Ce site est en cours de développement. Merci de votre compréhension.</p>
		<div class="position-absolute top-70 start-50 translate-middle">
			<a href="https://www.linkedin.com/in/marie-malnoury-webdeveloper-videographer/" alt="LinkedIn de Marie MALNOURY">Mon LinkedIn</a>
			<a href="https://malmarie.github.io/" alt="Page GitHub de Marie MALNOURY">Ma page GitHub</a>
		</div>
	</div>
{% endblock %}
