{% extends 'base.html.twig' %}

{% block title %}Portfolio DEV Marie Malnoury
{% endblock %}

{% block body %}
	<div>
		<div class="m-3">
			<div id="presentation">
				<div class="presentation-text">
					<h2 class="fw-bold fs-3">Qui suis-je?</h2>
					<p>Je m'appelle Marie.</p>
					<p>Je suis un profil à multipes casquettes.</p>
					<p>En effet, après plus de 5 ans dans la télévision, je suis devenue Vidéaste | Photographe. Depuis 2023, je suis également Développeur Web PHP | Symfony après une formation à l'école O'Clock et l'obtention du Titre Professionnel "Développeur Web et Web Mobile". Je suis donc doublement diplômée d'un Bac+2.</p>
				</div>
				<img class="photo-me" src="./assets/images/DSC_98538_crop_transparent.png" alt="Photo de Marie MALNOURY">
			</div>

			<div id="projects" class="mt-4 border rounded border-secondary-subtle shadow-lg">
				<h2 class="fs-1 fw-bold text-center">Projets</h2>
				<div class="text-center pt-5 d-flex container-sm row row-cols-sm-1 justify-content-center container-lg row row-cols-lg-2 align-items-center">
					<a class="" href="https://malmarie.github.io/" alt="Page GitHub de Marie MALNOURY" target="_blank">
						<img class="logo-xs logo-lg" src="./assets/images/icons/Logo_GitHub_BW_cat.png" alt="Logo de GitHub">
						Page GitHub
					</a>
					<a class="text-break text-wrap p-3 col-sm-2 col-lg" href="https://obeer.mariemalnoury.fr/" alt="O’Beer, site de recencement de brasseries françaises" target="_blank">
						<img class="logo-xs logo-lg" src="./assets/images/icons/Logo_O-Beer.png" alt="Logo de O’Beer">
						Projet de fin de formation à O'Clock
					</a>
					<a class="text-break text-wrap p-3 col-sm-2 col-lg" href="https://blogugozer.mariemalnoury.fr/" alt="UgoZER, blog" target="_blank">
						<img class="logo-xs logo-lg" src="./assets/images/icons/BlogUgoZER.PNG" alt="Logo Blog UgoZER">
						Blog | test technique
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
